<section>
  <div>
    <table>
      <tr>
        <th>Nom</th>
        <th>Catégorie de poids</th>
        <th>Poids</th>
        <th>Capacité énergétique</th>
      </tr>
      <tr>
        <td><a href="#">Nom générateur 1</a></td>
        <td>Léger</td>
        <td>480</td>
        <td>1600</td>
        <td><button>Ajouter</button></td>
        <td><button>Retirer</button></td>
      </tr>
      <tr>
        <td><a href="#">Nom générateur 2</a></td>
        <td>Moyen</td>
        <td>1300</td>
        <td>1200</td>
        <td><button>Ajouter</button></td>
        <td><button>Retirer</button></td>
      </tr>
      <tr>
        <td><a href="#">Nom générateur 3</a></td>
        <td>Lourd</td>
        <td>2000</td>
        <td>1900</td>
        <td><button>Ajouter</button></td>
        <td><button>Retirer</button></td>
      </tr>
    </table>
  </div>
</section>
