<section>
  <div>
    <table>
      <tr>
        <th>Nom</th>
        <th>Catégorie de poids</th>
        <th>Poids</th>
        <th>Consommation énergétique</th>
        <th>Capteurs</th>
      </tr>
      <tr>
        <td><a href="#">Nom tête 1</a></td>
        <td>Léger</td>
        <td>480</td>
        <td>160</td>
        <td>Complets</td>
        <td><button>Ajouter</button></td>
        <td><button>Retirer</button></td>
      </tr>
      <tr>
        <td><a href="#">Nom tête 2</a></td>
        <td>Moyen</td>
        <td>1300</td>
        <td>120</td>
        <td>Biométriques</td>
        <td><button>Ajouter</button></td>
        <td><button>Retirer</button></td>
      </tr>
      <tr>
        <td><a href="#">Nom tête 3</a></td>
        <td>Lourd</td>
        <td>2000</td>
        <td>190</td>
        <td></td>
        <td><button>Ajouter</button></td>
        <td><button>Retirer</button></td>
      </tr>
    </table>
  </div>
</section>
