@if (mechaPage()) {
<section>
  <div>
    <div class="titlesMechaBox">
      <div class="mechaInfosBox">
        <p>Nom mecha :</p>
      </div>
      <div class="mechaInfosBox">
        <p>Type de mécha :</p>
      </div>
    </div>
    @for (mecha of mechas(); track mecha.name) {
      <div class="individualMechaBox">
        <div class="mechaInfosBox">
          <p>{{ mecha.name }}</p>
        </div>
        <div class="mechaInfosBox">
          <p>{{ mecha.mechaType }}</p>
        </div>
        <button class="mechaActionButton updateButton" routerLink="/mechas/{{ mecha.id }}">Voir/Modifier</button>
        <button class="mechaActionButton deleteButton">Supprimer</button>
      </div>
    }

    <div *ngIf="totalPages() > 1">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="page() === 1">
          <button class="page-link" (click)="previousPage()">Précédent</button>
        </li>

        <li class="page-item" [class.disabled]="page() >= totalPages()">
          <button class="page-link" (click)="nextPage()">Suivant</button>
        </li>
      </ul>
    </div>
  </div>
</section>

}
