<section>
  <div>
    <table>
      <tr>
        <th>Nom</th>
        <th>Catégorie de poids</th>
        <th>Poids</th>
        <th>Consommation énergétique</th>
        <th>Niveau de confort du cockpit</th>
      </tr>
      <tr>
        <td><a href="#">Nom torse 1</a></td>
        <td>Léger</td>
        <td>480</td>
        <td>160</td>
        <td>Moyen</td>
        <td><button>Ajouter</button></td>
        <td><button>Retirer</button></td>
      </tr>
      <tr>
        <td><a href="#">Nom torse 2</a></td>
        <td>Moyen</td>
        <td>1300</td>
        <td>120</td>
        <td>Simple</td>
        <td><button>Ajouter</button></td>
        <td><button>Retirer</button></td>
      </tr>
      <tr>
        <td><a href="#">Nom torse 3</a></td>
        <td>Lourd</td>
        <td>2000</td>
        <td>190</td>
        <td>Darling in the franxx</td>
        <td><button>Ajouter</button></td>
        <td><button>Retirer</button></td>
      </tr>
    </table>
  </div>
</section>
