<section>
  <div class="mainBox">
    <div class="picAndButtonBox">
      <h2>{{legsComponent.name}}</h2>
      <div>
        <img class="equipmentImg" [src]=" legsComponent.imageUrl " alt="imagePartieMécha">
      </div>
      <div>
        <button>Ajouter au mécha</button>
      </div>
    </div>
    <div class="infosAndCommentsBox">
      <div>
        <h4>Catégorie de poids : </h4>
        <p>{{legsComponent.weightCategory}}</p>
        <h4>Poids composant : </h4>
        <p>{{legsComponent.weight}}</p>
        <h4>Poids supporté : </h4>
        <p>{{legsComponent.loadLimit}}</p>
        <h4>Consommation énergétique : </h4>
        <p>{{legsComponent.powerConsumption}}</p>
        <h4>Durabilité : </h4>
        <p>{{legsComponent.durability}}</p>
        <h4>Type : </h4>
        <p>{{legsComponent.type}}</p>
      </div>
      <div class="commentBox">
        <div class="userInfoBox">
          <h4>Tartempion : </h4>
        </div>
        <div class="commentContent">
          <p>Chez un homme sûr à quatre milles de la capitale, il résolut de ne rien cacher de ce qui ne constitue qu'une partie d'eux subsiste et c'est beaucoup plus rare.</p>
        </div>
      </div>
      <div>
        <button>Laisser un commentaire</button>
      </div>
    </div>
  </div>
</section>
