<section>
  <div class="mainBox">

    <div class="mechaBaseInfosBox">
      <h2>{{mecha.name}}</h2>
      <p>{{mecha.mechaType}}</p>
    </div>
    <div class="infosBox">
      <div class="infosSubBox">
        <h3>Composants :</h3>
        <h4>Bras : </h4>
        <p>AA-J-123 BASHO</p>
        <h4>Jambes : </h4>
        <p>AL-J-121 BASHO</p>
        <h4>Torse : </h4>
        <p>AH-J-120 BASHO</p>
        <h4>Tête : </h4>
        <p>AH-J-124 BASHO</p>
        <h4>Générateur : </h4>
        <p>AG-J-098 JOSO</p>
        <h4>Extension : </h4>
        <p>Boucliers</p>
      </div>
      <div class="infosSubBox">
        <h3>Equipements :</h3>
        <h4>Equipement main gauche : </h4>
        <p>PB-033m ASHMEAD</p>
        <h4>Equipement main droite : </h4>
        <p>VP-67LD</p>
        <h4>Equipement épaule gauche : </h4>
        <p>VP-61PS</p>
        <h4>Equipement droite : </h4>
        <p>VP-61PS</p>
      </div>
  </div>
    <div class="statusBox">
      <div class="weightStatus">
        <h4>Limite de poids : </h4>
        <p>55 890 / 62 600</p>
      </div>
      <div class="EnergyStatus">
        <h4>Limite d'énergie : </h4>
        <p>1542 / 2200</p>
      </div>
    </div>
  </div>
</section>
