<section>
  <div>
    <table>
      <tr>
        <th>Nom</th>
        <th>Type d'équipement</th>
        <th>Poids</th>
        <th>Consommation énergétique</th>
      </tr>
      <tr>
        <td><a [routerLink]="['/mechas-equipments/specific']">Nom équipement 1</a></td>
        <td>Travail</td>
        <td>220</td>
        <td>100</td>
        <td><button class="addButton">Ajouter</button></td>
        <td><button class="removeButton">Retirer</button></td>
      </tr>
      <tr>
        <td><a [routerLink]="['/mechas-equipments/specific']">Nom équipement 2</a></td>
        <td>Combat</td>
        <td>220</td>
        <td>100</td>
        <td><button class="addButton">Ajouter</button></td>
        <td><button class="removeButton">Retirer</button></td>
      </tr>
      <tr>
        <td><a [routerLink]="['/mechas-equipments/specific']">Nom équipement 3</a></td>
        <td>Combat</td>
        <td>220</td>
        <td>100</td>
        <td><button class="addButton">Ajouter</button></td>
        <td><button class="removeButton">Retirer</button></td>
      </tr>
    </table>
  </div>
</section>
