<section>
  <div>
    <table>
      <tr>
        <th>Nom</th>
        <th>Type d'équipement</th>
        <th>Poids</th>
        <th>Consommation énergétique</th>
      </tr>
      @for (mechaEquipment of mechaEquipments(); track mechaEquipment.name) {
        <tr>
          <td><a routerLink="/mechas-equipments/{{mechaEquipment.id}}">{{mechaEquipment.name}}</a></td>
          <td>{{mechaEquipment.equipmentType}}</td>
          <td>{{mechaEquipment.weight}}</td>
          <td>{{mechaEquipment.powerConsumption}}</td>
          <td><button class="addButton">Ajouter</button></td>
          <td><button class="removeButton">Retirer</button></td>
        </tr>
      }
    </table>
  </div>
</section>
