<section>
  <div>
    <table>
      <tr>
        <th>Nom</th>
        <th>Poids</th>
        <th>Consommation énergétique</th>
        <th>Production d'énergie</th>
      </tr>
      <tr>
        <td><a [routerLink]="['/mechas-components/specific']">Nom bras 1</a></td>
        <td>480</td>
        <td>160</td>
        <td></td>
        <td><button class="addButton">Ajouter</button></td>
        <td><button class="removeButton">Retirer</button></td>
      </tr>
      <tr>
        <td><a [routerLink]="['/mechas-components/specific']">Nom bras 2</a></td>
        <td>1300</td>
        <td>120</td>
        <td></td>
        <td><button class="addButton">Ajouter</button></td>
        <td><button class="removeButton">Retirer</button></td>
      </tr>
      <tr>
        <td><a [routerLink]="['/mechas-components/specific']">Nom bras 3</a></td>
        <td>2000</td>
        <td>190</td>
        <td></td>
        <td><button class="addButton">Ajouter</button></td>
        <td><button class="removeButton">Retirer</button></td>
      </tr>
      <tr>
        <td><a [routerLink]="['/mechas-components/specific']">Nom jambes 1</a></td>
        <td>480</td>
        <td>160</td>
        <td></td>
        <td><button class="addButton">Ajouter</button></td>
        <td><button class="removeButton">Retirer</button></td>
      </tr>
      <tr>
        <td><a [routerLink]="['/mechas-components/specific']">Nom jambes 2</a></td>
        <td>1300</td>
        <td>120</td>
        <td></td>
        <td><button class="addButton">Ajouter</button></td>
        <td><button class="removeButton">Retirer</button></td>
      </tr>
      <tr>
        <td><a [routerLink]="['/mechas-components/specific']">Nom jambes 3</a></td>
        <td>2000</td>
        <td>190</td>
        <td></td>
        <td><button class="addButton">Ajouter</button></td>
        <td><button class="removeButton">Retirer</button></td>
      </tr>
    </table>
  </div>
</section>

