<section>
  <div>
    <table>
      <tr>
        <th>Nom</th>
        <th>Poids</th>
        <th>Consommation énergétique</th>
        <th>Production d'énergie</th>
      </tr>
      <tr>
        <td><a href="#">Nom bras 1</a></td>
        <td>480</td>
        <td>160</td>
        <td></td>
        <td><button>Ajouter</button></td>
        <td><button>Retirer</button></td>
      </tr>
      <tr>
        <td><a href="#">Nom bras 2</a></td>
        <td>1300</td>
        <td>120</td>
        <td></td>
        <td><button>Ajouter</button></td>
        <td><button>Retirer</button></td>
      </tr>
      <tr>
        <td><a href="#">Nom bras 3</a></td>
        <td>2000</td>
        <td>190</td>
        <td></td>
        <td><button>Ajouter</button></td>
        <td><button>Retirer</button></td>
      </tr>
    </table>
  </div>
</section>

