section {
  text-align: center;
}

.authForm {
  display: flex;
  flex-direction: column;
  gap : 0.5rem;
  min-width : 50%;
  align-items: center;
}

#password, #email,#username {
  min-width : 30%;
}

