<section>
  <div>
    <table>
      <tr>
        <th>Nom</th>
        <th>Catégorie de poids</th>
        <th>Poids</th>
        <th>Consommation énergétique</th>
        <th>Force (poids max supporté)</th>
        <th>Type</th>
      </tr>
      @for (legsComponent of legsComponents(); track legsComponent.name) {
        <tr>
          <td><a routerLink="/mechas-components/legs/{{legsComponent.id}}">{{legsComponent.name}}</a></td>
          <td>{{legsComponent.weightCategory}}</td>
          <td>{{legsComponent.weight}}</td>
          <td>{{legsComponent.powerConsumption}}</td>
          <td>{{legsComponent.loadLimit}}</td>
          <td>{{legsComponent.type}}</td>
          <td><button class="addButton">Ajouter</button></td>
          <td><button class="removeButton">Retirer</button></td>
        </tr>
      }
    </table>
  </div>
</section>
