<section>
  <div class="mainBox">

    <div class="picAndButtonBox">
      <h2>MA_E_210_ETSUJIN</h2>
      <div>
        <img class="equipmentImg" [src]=" 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzcZAu5r2CgrcInsZs7m_2WDH9B-W8_u87-et4KGZcR3cdCXOwWVmNyUiolBAYXVeg1A&usqp=CAU' " alt="imagePartieMécha">
      </div>
      <div>
        <button>Ajouter au mécha</button>
      </div>
    </div>
    <div class="infosAndCommentsBox">
      <div>
        <h4>Poids équipement : </h4>
        <p>400</p>
        <h4>Type d'équipement : </h4>
        <p>Arme</p>
        <h4>Consommation énergétique : </h4>
        <p>200</p>
        <h4>Durabilité : </h4>
        <p>1000</p>
      </div>
      <div class="commentBox">
        <div class="userInfoBox">
          <h4>Tartempion : </h4>
        </div>
        <div class="commentContent">
          <p>Chez un homme sûr à quatre milles de la capitale, il résolut de ne rien cacher de ce qui ne constitue qu'une partie d'eux subsiste et c'est beaucoup plus rare.</p>
        </div>
      </div>
      <div>
        <button>Laisser un commentaire</button>
      </div>
    </div>
  </div>
</section>
